*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
}
#navbar{
    width:100vw;
    height: 45px;
    position: fixed;
    background-color: rgb(87, 87, 87);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#navbar .wrapper{
  max-width:780px;
  padding: 0 1rem;
}
#nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-list .item{
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px;
}
#nav-list .item>a{
    text-decoration: none;
    padding: 10px;
    color: rgb(241, 241, 241);
}
#nav-list .item:hover{
    border: 2px solid #fff;
}
#navbar .logo{
    position: absolute;
    left:0;
    top:0;
    height: 46px;
}
section{
  min-height: 50vh;
}
#products-section h2{
  text-align:center;
  border-bottom: 5px solid #85cefe;
}
#products-container{
  width:100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:;
}

#products-container .product{
  width:250px;
  height: 300px;
  margin:10px;
  border:1px solid black;
  padding: 10px;
  border-radius: 5px;
  background-color: ;
}
.product .prod-img{
  width:100%;
  height: 80%;
  margin:auto ;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.product .details{
  margin-top: 10px;
}