#cart-section {
  min-height: 500px;
  background-color: #f1f1f1;
  padding: 3.5rem 1rem;
}
#cart-section h3 {
  text-align: center;
  padding: 1rem;
}
#cart-section .items-container {
  max-width: 900px;
  min-width: 250px;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  margin: auto;
}
#cart-section .cart-item-card{
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  min-width: 250px;
  margin: 1rem auto;
}
#cart-section .cart-item-card img {
  max-width: 150px;
  margin-bottom: 10px;


}
.quantity-input-container input {
  width: 40px;
  text-align: center;
  font-size: 0.8rem;
  padding: 10px;
  border: 1px solid #e3e3e3;
  outline: none;
}
.quantity-input-container .increment, .decrement{
  font-size:30px;
  background-color: #0001;
  padding: 0 10px;

}
.quantity-input-container {
  border: 1px solid #0003;
  border-radius: 5px;
  margin:1rem auto;
}
.quantity-input-container .increment:hover{
  color: #000;
}
.quantity-input-container .decrement:hover{
  color: #000;
}


.subtotal-container{
  background-color: #fff;
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  margin:auto;
  padding: 1rem;
}
.subtotal-container div{
  padding: 0.4rem;
}
