#hero-section {
    width: 100vw;
    height:500px;
    padding-top: 3rem;
    background-image: linear-gradient(90deg, black,  black);
    display: flex;
    justify-content: center;
}

#hero-section #shop-now-btn {
    width: 100px;
    padding: 0.7rem;
}
#hero-vid {
    width: 100vw;
}