#hero-section{
    width:100vw;
    height: 70vh;
    background-color: black;
    padding-top:3rem;
}
#hero-section #shop-now-btn{
    width:100px;
    padding: 0.7rem;
}
.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;
    z-index:0;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 50%;
    margin:auto;
    display: block;
}