@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  font-family: 'Montserrat';
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#navbar{
  width: 100vw;
  position: fixed;
  top:0;
  left:0;
  padding: 0.3rem;
  backdrop-filter: blur(5px);
  background-color: white;
  color:#000;
  border: 1px solid #cecece;
  z-index: 4;
}
#navbar .wrapper{
  max-width:900px;
  width: 100%;
  margin: 0 0.8rem;
  padding: 0 0.3rem;
  justify-content: space-between;

}
#navbar h1{
  text-align: center;
}
#navbar .menu-icon{
  font-size: 2.5rem;
}
#navbar .shopping-bag{
  position: relative;
  font-size: 2rem;
  background-color: transparent;
  color:#000;
  padding: 0.3rem;
  border: none;
}
#navbar .menu{
  color:#000;
}
#navbar .no-of-items{
  text-align: center;
  position: absolute;
  right:3px;
  top:5px;
  min-width: 11px;
  min-height: 11px;
  border-radius: 50%;
  background-color: #000;
  font-size: 9px;
  color: #fff;
  padding: 1px;
}


/**-------globaluse case clases----*/
.flex{
  display:flex;
}
.flex-wrap{
  flex-wrap:wrap ;
}
.justify-center{
  justify-content: center;
}
.items-center{
  align-items: center;
}
.justify-space-around{
  justify-content: space-around;
}
.justify-space-between{
  justify-content: space-between;
}
.flex-perfect-center{
  display:flex;
  justify-content: center;
  align-items: center;
}
.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}